#sectionInformation {

}

#containerInfo{
    height: 100%;
    display: flex;
    gap: 20px;
}

.imagen-enmarcada {
    animation: recorte 2s forwards;
    height: 400px;
  }
  
  @keyframes recorte {
    from { clip-path: circle(0% at 100% 100%); }
    to { clip-path: circle(35% at 45% 55%); }
  }
  @media (max-width: 768px) {
    #containerInfo {
     flex-direction: column;
    }
    .imagen-enmarcada {
      height: auto;
      width: auto;
    }
  }
  