#sectionInformation {
}

#containerInfo {
  height: 100%;
  display: flex;
  gap: 20px;
}

.imagen-enmarcada {
  animation: recorte 2s forwards;
  height: 400px;
}
.textoAnimado {
  font-size: 3em;
  animation: wave 1.5s infinite;
  animation: wave 1.5s infinite, color-change 3s infinite;
}

.wave-text:nth-child(1) {
  animation-delay: 0s, 0s;
}
.wave-text:nth-child(2) {
  animation-delay: 0.1s, 0.1s;
}
.wave-text:nth-child(3) {
  animation-delay: 0.2s, 0.2s;
}

@keyframes color-change {
  0% {
    color: #c300ff;
  }
  33% {
    color: #910cd3;
  }
  66% {
    color: #7321b5;
  }
  100% {
    color: #867d8b;
  }
}

.texto-presentacion .textoAnimado {
  font-size: 1em;
}
@keyframes recorte {
  from {
    clip-path: circle(0% at 100% 100%);
  }
  to {
    clip-path: circle(35% at 45% 55%);
  }
}
@media (max-width: 768px) {
  #containerInfo {
    flex-direction: column;
  }
  .imagen-enmarcada {
    height: auto;
    width: auto;
  }
}
